<html>
	<head></head>
	<body style="background: #f7f7fa; padding: 30px 20px">
		<table style="background:white;border:1px solid gray;margin-left:auto;margin-right:auto;padding:2px;border-spacing:20px; width:500px; max-width: 100%;">
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0">
						<tr style="text-align: center;font-size: 25px; font-weight: bold;">Guess what Password Recovery</tr>
						<tr style="font-size: 15px;">
							<br>
							Hi,
							<br>
							<br>
							We received a request to change the password associated with your email address ({{email}}).
							<br>
							<br>
							If you would like to change your password, please click on the link below.
							<br>
							<br>
							If you didn't make this request, or no longer need to change your password, you can ignore this email.<br>
						</tr>
					</td>
				</td>
			</tr>
			<tr style="text-align: center;">
				<td>
					<a href="{{ recoveryLink }}" style="margin-top: 20px;padding: 8px 12px; border: 1px solid #006f26;border-radius: 2px;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block; width: 200px; text-align: center; background-color: #4aba70;" target="_blank">Reset password</a>
				</td>
			</tr>
		</table>
	</body>
</html></td></tr></table></body></html>
